@font-face {
  font-family: 'Bokrun';
  src: url('BattleStar.ttf') format('truetype');
}

/* @font-face {
  font-family: 'Bokrun-Shadow';
  src: url('TheBokrunTrial-1GWj4.ttf') format('truetype');
} */
